#content {
    height: 100%;
    overflow-y: auto;
}

.text-body {
    font-size: 30px;
    text-align: center;
    padding-left: 60px;
    padding-right: 120px;
}

img {
    width: 100%;
    height: auto;
}

#story {
    font-size: 20px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover, 
.nav-pills>li.active>a:focus {
    background-color: blueviolet !important;
    color: #FFF !important;
}

.nav-pills>li>a:hover {
    background-color: slateblue !important;
}

.nav-pills>li>a {
    color: lightgray !important;
}

#nav-container {
    height: 100%;
    background-color: black;
    padding-right: 0px;
}

#content {
    color: rgb(79, 92, 104);
}

#content a {
    color: rgb(79, 92, 104);
}

body {
    font-family: 'Dosis', sans-serif !important;
}

h1 {
    font-family: 'Londrina Shadow', cursive !important;
}

h2 {
    text-align: center;
}

.center-pic {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}