
#select-deselect {
    font-weight: bold;
}

.food {
    height: 0px;
    overflow: hidden;
    padding-left: 15px;
}

span {
    font-weight: normal;
}

.title {
    font-weight: bold;
}

#check-label {
    padding-top: 2px;
}

.show-description {
    height: 22px;
    opacity: 1;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.hide-description {
    height: 0px;
    opacity: 0;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

#food-items {
    overflow-y: auto;
    height: 100%;
    padding: 0px;
    margin: 0px;
    color: darkslategrey;
    background-color: #F5F5F5;
    padding-right: 0px;
}

#title {
    width: 100%;
    border-bottom: thin solid black;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

#description {
    color: lightslategrey;
    padding-top: 5px;
    padding-left: 15px;
}

#food-items input {
    margin: 5px;
}

#map {
     height: 100%;
     border-left: thin solid black;
}

#check-all {
    margin-left: 20px !important;
}